* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #024e76;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* apply styles to <header> */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    padding: 20px 35px;
    background-color: #1d9dd8;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #024e76;
    margin: 0;
  }
  
  header a {
    color: #024e76;
    text-decoration: none;
  }

  header nav {
    
    margin: 7px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 150%;
  }

  footer {
    background: #1d9dd8;
    width: 100%;
    padding: 40px 35px;
  }

  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  footer a {
    color: #024e76;
  }